*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #303030;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* NAV BAR SECTION STYLE */

.container{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
  width: fit-content;
  position: absolute;
  top:3.5%;
  font-family: cursive;
}

.container .search{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6%;
  position: relative;
}

.search-bar{
  padding: 10px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
  outline: none;
}

.search-btn{
  padding: 10px;
  width: 50px;
  font-size: 0.9rem;
  border: none;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  cursor: pointer;
  background-color: #616161;
  color: white;
}

hr{
  width: 90%;
  background-color: white;
  height: 3px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;
}

/* END NAV BAR SECTION STYLE */

/* VIDEO SECTION STYLE */

.video{
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.video .card{
  width: 300px;
  height: 450px;
  border-radius: 10px;
  background-color: #494949;
  margin-bottom: 20px;
  cursor: pointer;
}

.content{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.video .card .img{
  width: 90%;
  height: 300px;
  margin: 15px 0 15px 16px;
}

.video .card .description{
  font-size:0.8rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.video .card .img-icon{
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
}

.channel-name{
  margin-top: 3px;
  color: #c2c2c2d0;
  
}


/* @media (min-width: 900px){

  .container .search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4%;
    position: relative;
  }
} */
